@import '~app/base/styles/each';

.music-player {
  position: absolute;
  left: 0;
  width: 200px;
}
.list {
  li {
    margin: 1px 0 0;
    background-color: @bg-page;
    &:hover, &.active {
      background-color: darken(@bg-page, 20%)
    }
  }
}
.audio {
  width: 100%;
  audio {
    width: 100%;
  }
}

.content {
  position: absolute;
  bottom: 100%;
  width: 100%;
  line-height: 28px;
  display: none;
  &.show {
    display: block;
  }
}

@media screen and (max-width: 414px) {
  .music-player {
    display: none;
  }
}
