<p class="a circle-button" (click)="show = !show">{{ 'music.buttonWord' | translate }}</p>

<div class="music-player" [class.show]="show">
  <div class="content">
    <input class="form-control item" type="text" [(ngModel)]="key" [placeholder]="'search' | translate" (ngModelChange)="search(key)">
    <ul class="search-result list overflow-auto">
      <li *ngFor="let song of searchSongs">
        <a class="info">{{ song.name }}--{{ song.singer }}</a>
        <div class="action">
          <a (click)="addToSongs(song)">
            <icon class="a" width="24" height="24" [glyph]="icon.add"></icon>
          </a>
          <a (click)="playInsearch(song)">
            <icon class="a" width="24" height="24" [glyph]="icon.play"></icon>
          </a>
        </div>
      </li>
    </ul>
    <div class="item list-container list">
      <p *ngIf="songs.length > 0">{{ 'music.playList' | translate }}:
        <span class="pull-right">
          <a [class.badge]="!isRandomMode" (click)="playMode = 'normal'">{{ 'music.normal' | translate }}</a>
          <a [class.badge]="isRandomMode" (click)="playMode = 'random'">{{ 'music.random' | translate }}</a>
        </span>
      </p>
      <ul class="songs overflow-auto" [sortablejs]="songs" [sortablejsOptions]="sortableOption">
        <li *ngFor="let song of songs; let i = index; trackBy: trackByFn" (click)="clickSelect(song)" [class.playing]="song.id === selectedSong.id">
          <icon (click)="$event.stopPropagation()" class="a sortable-handle" width="24" height="24" [glyph]="icon.sort"></icon>
          <a class="info">{{ i + 1 }}. {{ song.name }}--{{ song.singer }}</a>
          <div class="action">
            <a (click)="removeSong(song, $event)">
              <icon class="a" width="24" height="24" [glyph]="icon.delete"></icon>
            </a>
          </div>
        </li>
      </ul>
    </div>
    <div class="audio" [class.show]="selectedSong.id">
      <p>{{ currentLyric }}</p>
      <p>{{ selectedSong.name }}--{{ selectedSong.singer }}</p>
      <audio #audio controls="controls"></audio>
    </div>
  </div>

</div>
