<div class="pages" [title]="'titles.articleListTitle' | translate" page-animate [@pageAnimateTrigger]="p.stateExpression" #p="pageAnimate">
  <div class="page-block side right" article-categories>
  </div>

  <div class="page-block left">
    <div class="each-header">
      <span class="big-size">{{ 'pages.article.articlesHeader' | translate }}</span>
    </div>
    <div class="each-inner">

      <ul class="articles">
        <!--<li class="article">
          <input type="text" class="form-control" [(ngModel)]="searchText.title">
        </li>-->
        <li class="article" *ngFor="let article of articles">
          <a class="a" [routerLink]="['/article', article.category, article.url]">
            <div class="title">
              <span *ngIf="article.isUp">{{ 'pages.article.isUp' | translate }}</span>{{ article.title }}
            </div>
            <div class="time">{{ article.createTime | xdDate }}</div>
          </a>
        </li>
        <li class="article" *ngIf="!articles.length">{{ 'pages.article.none' | translate }}</li>
        <li class="article load-more" *ngIf="hasMore">
          <button class="btn main" (click)="getMoreArticles()">{{ 'loadMore' | translate }}</button>
        </li>
      </ul>

    </div>
  </div>
</div>
