<div class="fourth-word pages" [dire-title]="'titles.fourthIndexTitle' | translate" dire-page-animate [@pageAnimateTrigger]="p.stateExpression"
  #p="pageAnimate">

  <div class="page-block">
    <div class="each-header">
      <span class="big-size">{{ 'pages.fourth.genPassword' | translate }}</span>
    </div>
    <div class="each-inner">
      <form [formGroup]="genPasswordForm" class="form">
        <article class="xd-article">
          <div class="form-group" [class.has-error]="!genPasswordForm.controls['initPassword'].pristine && !genPasswordForm.controls['initPassword'].valid">
            <label class="form-label" for="initPassword">{{ 'pages.fourth.initPassword' | translate }}：<span class="tomato" [hidden]="genPasswordForm.controls['initPassword'].pristine || genPasswordForm.controls['initPassword'].valid"></span></label>
            <input class="form-control" [(ngModel)]="gen.initPassword" name="initPassword" id="initPassword" type="password"
              (ngModelChange)="resetGenPassword()"
              formControlName="initPassword"
              [attr.placeholder]="'pages.fourth.initPassword' | translate">
            <comp-icon class="active" [hidden]="!genPasswordForm.controls['initPassword'].valid" [glyph]="icon.checkmark"></comp-icon>
          </div>
          <div class="form-group" [class.has-error]="!genPasswordForm.controls['key'].pristine && !genPasswordForm.controls['key'].valid">
            <label class="form-label" for="key">{{ 'pages.fourth.key' | translate }}：<span class="tomato" [hidden]="genPasswordForm.controls['key'].pristine || genPasswordForm.controls['key'].valid">*{{ 'pages.fourth.required' | translate }}</span></label>
            <input class="form-control" [(ngModel)]="gen.key" name="key" id="key"
              (ngModelChange)="resetGenPassword()"
              formControlName="key"
              type="text" [attr.placeholder]="'pages.fourth.key' | translate">
            <comp-icon class="active" [hidden]="!genPasswordForm.controls['key'].valid" [glyph]="icon.checkmark"></comp-icon>
          </div>
          <div class="form-group">
            <label class="form-label width-0"></label>
            <button md-raised-button color="primary" [disabled]="genPasswordForm.pristine || !genPasswordForm.valid" type="button" (click)="genPasswordFn()">{{ 'pages.fourth.gen' | translate }}</button>
          </div>
          <div class="gen-container">{{ 'pages.fourth.outputDesc' | translate }}: {{ gen.output || ('pages.fourth.noOutput' | translate) }}
            <button md-raised-button color="primary" [clip]="gen.output" (onClip)="gen.copyOutput($event)" *ngIf="gen.output">{{ 'pages.fourth.copy' | translate }}</button>
          </div>
          <div class="gen-container">{{ 'pages.fourth.outputDesc15' | translate }}: {{ gen.output15 || ('pages.fourth.noOutput' | translate) }}
            <button md-raised-button color="primary" [clip]="gen.output15" (onClip)="gen.copyOutput($event)" *ngIf="gen.output15">{{ 'pages.fourth.copy' | translate }}</button>
          </div>
        </article>
      </form>

    </div>
  </div>

  <div class="page-block">
    <div class="each-header">
      <span class="big-size">{{ 'pages.fourth.links' | translate }}</span>
    </div>
    <div class="each-inner">

      <ul class="articles">
        <li class="article article-list-repeat" *ngFor="let link of links; let i = index">
          <a class="a" target="_blank" [attr.href]="link.url">
            <div class="title">
            {{ i+1 }}. <span class="badge">{{ ('pages.fourth.type.' + link.type) | translate }}</span>{{ link.title }}
            </div>
          </a>
        </li>
      </ul>

    </div>
  </div>

  <pre>
     _            _ _
  __| | __ _ _ __| (_)_ __    _ __ ___   ___
 / _` |/ _` | '__| | | '_ \  | '_ ` _ \ / _ \
| (_| | (_| | |  | | | | | |_| | | | | |  __/
 \__,_|\__,_|_|  |_|_|_| |_(_)_| |_| |_|\___|

  </pre>
</div>
