<div class="each-header">
  <span class="active-color count-replys">{{ articleReplies }}&nbsp;</span>{{ 'pages.article.replies' | translate }}
</div>
<div class="each-inner">
  <ul class="replies">
    <li class="each-reply root-reply" *ngFor="let comment of comments">
      <img class="pic left" [attr.src]="comment.replyUser.pic" alt="">
      <div class="right">
        <div class="word">
          <a class="a" [routerLink]="['/account/info', comment.replyUser.username]">{{ comment.replyUser.nickname }}</a>
          <comp-marked class="mes markdown" [md]="comment.content"></comp-marked>
        </div>
        <div class="message">
          <span class="time">{{ comment.time | xdDate: lang }}</span>
          <span class="a" (click)="showReplyInput(comment, comment)">
            <comp-icon [glyph]="icon.reply"></comp-icon>
            {{ 'pages.article.reply' | translate }}
          </span>
          <span class="floor">{{ comment.index }}{{ 'pages.article.floor' | translate }}</span>
        </div>
      </div>
      <ul class="sub-reply">
        <li class="each-reply" *ngFor="let subReply of comment.replies">
          <img class="pic left" [attr.src]="subReply.replyUser.pic" alt="">
          <div class="right">
            <div class="word">
              <div>
                <a class="a" [routerLink]="['/account/info', subReply.replyUser.username]">{{ subReply.replyUser.nickname }}</a>
                <span class="nomal-color">&nbsp;{{ 'pages.article.lowercaseReply' | translate }}&nbsp;</span>
                <a class="a" [routerLink]="['/account/info', subReply.replyObject.username]">{{ subReply.replyObject.nickname }}</a>：
              </div>
              <comp-marked class="mes markdown" [md]="subReply.content"></comp-marked>
            </div>
            <div class="message">
              <span class="time">{{ subReply.time | xdDate: lang }}</span>
              <span class="a" (click)="showReplyInput(comment, subReply)">
                <comp-icon [glyph]="icon.reply"></comp-icon>
                {{ 'pages.article.reply' | translate }}
              </span>
            </div>
          </div>
        </li>

        <li class="reply-floor show" *ngIf="comment.input.show">
          <form class="form" #replyForm="ngForm" (ngSubmit)="reply(comment.url, {content: submitForm.replyContent, reply_object: comment.input.object}, comment.index)">
            <div class="form-group clearfix">
              <span>{{ 'pages.article.replyPlaceholder' | translate }}&nbsp;<a class="a">{{ comment.input.nickname }}</a>：</span>
              <textarea [(ngModel)]="submitForm.replyContent" name="replyInput" #replyInput="ngModel" class="form-control reply-textarea"
                [attr.placeholder]="'pages.article.commentPlaceholder' | translate" required></textarea>
              <button md-raised-button color="primary" [disabled]="!replyInput.valid || requesting" class="reply-button" type="submit">{{ 'pages.article.reply' | translate }}</button>
            </div>
          </form>
        </li>
      </ul>
    </li>
  </ul>
</div>

<div class="each-inner">
  <p>{{ 'pages.article.replyArticle' | translate }}:</p>

  <form (ngSubmit)="comment(article, {content: submitForm.commentContent})" #commentForm="ngForm" class="form">
    <div class="form-group clearfix">
      <label for="add_content"></label>
      <textarea [(ngModel)]="submitForm.commentContent" name="commentInput" #commentInput="ngModel" class="form-control reply-textarea"
        type="text" id="add_content" [attr.placeholder]="'pages.article.commentPlaceholder' | translate" required></textarea>
      <button md-raised-button color="primary" [disabled]="!commentInput.valid || requesting" class="reply-button" type="submit">{{ 'pages.article.comment' | translate }}</button>

    </div>
  </form>
</div>
