<div class="pages" [dire-title]="'titles.homeTitle' | translate" dire-page-animate [@pageAnimateTrigger]="p.stateExpression" #p="pageAnimate">
  <div class="page-block">
    <div class="each-header">
      <span class="big-size">{{ 'pages.article.articlesHeader' | translate }}</span>
    </div>
    <div class="each-inner">

      <ul class="articles">
        <li class="article" *ngFor="let article of articles">
          <a class="a" [routerLink]="['/article', article.category, article.url]">
            <div class="title">
              <span class="badge" *ngIf="article.isUp">{{ 'pages.article.isUp' | translate }}</span>{{ article.title }}
            </div>
            <div class="time">{{ article.createTime | xdDate: lang }}</div>
          </a>
        </li>
        <li class="article" *ngIf="!articles.length">{{ 'pages.article.none' | translate }}</li>
      </ul>

    </div>
  </div>
</div>
